@charset "UTF-8";
*
{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#F1D8C9,#F2C3A2);
}
main{
    background-color: white;
    height: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 2px 15px rgba(94, 75, 62, 0.493);
}
h1{
color: #F39209;
text-align: center;
text-shadow:2px 2px 2px rgba(99, 81, 68, 0.349);
}
h2{
color: #125189;
}
p{
    text-align: justify;
}