@charset "UTF-8";
:root{
    --cor0:rgb(105, 105, 230);
    --cor1: #2727aa;
    --cor2: #1a1a4d;
    --co3:rgb(29, 29, 71);
     --co4:rgb(22, 22, 56);

    --fonte1:'Roboto';
      --fonte2:'Montserrat';
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0px;
    margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
    
}
body{
    font: 200 16px Arial, Helvetica, sans-serif;
    height: 100vh;
}
header{
    margin-bottom: 10px;
    padding: 20px;
    background:linear-gradient(to bottom,rgb(27, 27, 75),rgb(9, 9, 65));
    box-shadow: 0px 3px 30px 25px rgba(0, 0, 0, 0.39);
    position: sticky;
    top: 0;
    height: 150px;
}
header>div{
    display: flex;
    width: 200px;
    height: 50%;
    margin-left: 10px;
}
header>div>img{
    width:70px;
    height:70px;
    margin: 0px;
    padding-top: 28px;
}
header>div>h1{
    padding: 30px 0px 0px 5px;
    font-family: 'Roboto','Arial, Helvetica, sans-serif';
    font-size: 3.5rem;
    font-weight: 100;
    color: white;
}
nav{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 0px 3px 30px 20px rgba(27, 38, 92, 0.39);
}
nav>a{
    font-family: var(--fonte1),'Arial, Helvetica, sans-serif';
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    position: relative;
    color: white;
    font-size: 2.4rem;
     font-weight: 100;
}
nav>a::after{
   content: " ";
   width: 0%;
   height: 1px;
   background-color: white;
   position: absolute;
   bottom: 0px;
   left: 0px;
   transition:all 1s ease;
}
nav>a:hover{
    background-color: rgba(39, 39, 253, 0.349);
}
nav>a:hover::after{
    width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.btn-menu{
    position: absolute;
    top: 130px;
    left: 12px;
}
.btn-menu::before{
    display: inline-block;
    content: "";
    background-image: url(Images/MenuP.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #191957;
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    padding: 15px;
}
.conteiner:hover .menu-lateral {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
ul{
    list-style-type: none;
    margin-top: 20px;
}
ul li.item-menu{
    transition: all 0.2s ease-in-out;
}
ul li.item-menu:hover{
    background-color: var(--cor0);
}
ul li.item-menu a{
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 24px;
    padding: 20px 4% 20px 0px;
    display: flex;
    border-bottom: 0.5px solid rgb(11, 11, 146);
    text-indent: 10px;
}
ul li.item-menu a .txt{
    margin-left: 24px;
}

#signin{
    display: block;
    width: 178px;
    margin: 20px 20px 0px auto;
    padding: 10px;
    font-size: 2rem;
    color: white;
    background-color: rgba(54, 54, 238, 0.856);
    border-radius: 15px;
    animation: sigin 2s infinite alternate;
}
@keyframes sigin {
    0%{
        box-shadow: 1px 1px 1px 1px rgba(37, 37, 247, 0.568);
    }
      100%{
        box-shadow: 1px 1px 50px 1px rgba(37, 37, 247, 0.568);
    }
}
#signin:hover{
    width: 190px;
    height: 40px;
    text-align: center;
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.993);
}
span:active{
    width: 178px;
    height: 30px;
    text-align: center;
}

main{
    margin: 0px auto;
    min-width: 320px;
    max-width: 2000px;
    padding: 0px 50px;

}
main a:hover{
    color: rgb(21, 151, 160);
}
main a:active{
     color: rgb(9, 70, 75);
}
#destaque{
    margin: 0px 0px 30px 0px;
    color: var(--cor0);
    font-family: var(--fonte1);
    font-size: 6rem;
    font-weight: 500;
    font-style: normal;
}
#NotiSchool>h2{
    color: var(--cor1);
    font-size: 2.5rem;
    margin: 15px 0px;
}
article p{
    font-size: 26px;
    text-indent: 50px;
    line-height: 50px;
    word-spacing: 10px;
    text-align: justify;
}
#NotiSchool>ol{
    margin: 25px 20px;
    padding: 0px 100px;
    font-size: 2rem;
}
#NotiSchool>ol>li>a{
    text-decoration: none;
    font: normal bold 16px Arial,sans-serif;
    font-size: 2rem;
    color: var(--cor2);
}
#NotiSchool>ol>li>a:hover{
    color: var(--cor1);
}
#NotiSchool>ol>li>a:active{
    color: var(--cor4);
}
.Studants-Imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.studant{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 20px;
    padding: 0px;
    border-radius: 100px 100px 0px 0px;
    box-shadow:0px 0px 38px 1px rgba(0, 0, 0, 0.377);
}
.studant a::after{
    content: "";
    background-image: url("Images/link.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;
}
.img{
    width: 100%;
    max-width: 1000px;
    min-width: 320px;
    height: 400px;
    border-radius: 100px 1px 0px 0px;

}
.school-name{
     margin: 5px;
      margin-bottom: 0px;
     padding: 15px;
     text-align: center;
}
.studant-name{
    font-size: 24px;
    font-family: 'Roboto','Arial,Sans-serif';
    font-weight: 600;
    color: var(--cor1);
    margin: 10px;
    padding: 6px;
    align-self: flex-start;
}
.course{
    font-size: 24px;
    font-family: 'Roboto','Arial,Sans-serif';
    font-weight: 600;
    color: var(--cor0);
    margin: 10px;
    padding: 6px;
    text-align: left;
    align-self: flex-start;
}
.description{
    width: 14%;
    height: 400px;
    position: absolute;
    top: 170;
    left: 80;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
     border-radius: 100px 1px 0px 0px;
}
.description h2
{
    position: absolute;
    top: 150px;
    left: 10px;
    color: rgb(216, 211, 211);

}
.description p
{
     position: absolute;
    top: 250px;
    left: 80px;
    color: rgb(184, 176, 176);
}
.Studants-Imgs:hover{
    .description{
            opacity: 1;
    }
}
.church h1{
    color: var(--cor1);
    font-size: 2.9rem;
    margin: 30px 0px 15px 0px;
}
.church h2{
    color: var(--cor0);
    font-size: 2.5rem;
    margin: 30px 0px 15px 0px;
}
.church h2::after{
    content: "";
    background-image: url("Images/link.svg");
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;
}
.church img{
    display: block;
    width: 50%;
    height: 700px;
    margin: 30px auto;
}
.urbanistic img{
    display: block;
    width: 50%;
    height: 700px;
    margin: 30px auto;
}
.desporto img{
    display: block;
    width: 50%;
    height: 700px;
    margin: 30px auto;
}
.desporto h1{
    color: var(--cor1);
    font-size: 2.9rem;
    margin: 30px 0px 15px 0px;
}
.urbanistic h1{
    color: var(--cor1);
    font-size: 2.9rem;
    margin: 30px 0px 15px 0px;
}
.urbanistic-img{
    display: flex;
    justify-content: space-between;
}
footer{
     display: flex;
     flex-direction: column;
     margin: 0px;
     padding: 30px;
     font-weight: 200;
     font-family: var(--fonte1);
    color: white;
    background-color: rgb(29, 29, 71);
}
#contactos>div>h2{
    padding: 5px;
    margin: 5px 0px 5px 15px;
}
.facebook::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.insta::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/instagram.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.whatssap::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/social.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.email::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/gmail.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.tel::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/vibration.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
