@charset "UTF-8";
:root{
    --cor0:rgb(105, 105, 230);
    --cor1: #2727aa;
    --cor2: #1a1a4d;
    --co3:rgb(29, 29, 71);
     --co4:rgb(22, 22, 56);

    --fonte1:'Roboto';
      --fonte2:'Montserrat';
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte1), sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    background:linear-gradient(to bottom,rgb(27, 27, 75),rgb(9, 9, 65));
    box-shadow: 0px 3px 30px 25px rgba(0, 0, 0, 0.39);
    color: white;
    font-family: var(--fonte1);
     margin-bottom: 10px;
    padding: 20px 20px 0 20px;
}
header>div{
    display: flex;
    align-items: center;
    align-self: flex-start;
    height: 50px;

}
header>div>img{
    align-self: flex-start;
    width: auto;
    height: 100%;
    margin-right: 5px;
}
nav{
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-shadow: 1px 3px 30px rgba(27, 38, 92, 0.17);
    z-index: 2;
}
nav>a{
    text-decoration: none;
    color: rgb(228, 219, 219);
    font-size: 1.2rem;
    margin: 0px 20px;
    position: relative;
}
nav>a::after{
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    transition: all 0.3s;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
nav>a:hover::after{
    width: 100%;
}
.menu{
    width: auto;
    height: 40px;
    align-self: flex-end;
    display: none;
    z-index: 1;
}
#btnSigin{
    position: absolute;
    right: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(228, 219, 219);
    background-color: rgba(54, 54, 238, 0.767);
    border-radius: 15px;
    cursor: pointer;
    animation: sigin 1.5s infinite alternate;
    padding: 10px;
}
#btnSigin:hover{
        font-size: 1.3rem;
}
@keyframes sigin {
    0%{
        box-shadow: 1px 1px 1px 1px rgba(37, 37, 247, 0.568);
    }
      100%{
        box-shadow: 1px 1px 50px 1px rgba(37, 37, 247, 0.568);
    }
}
.sMenu{
    display: flex;
    flex-direction: column;
    background-color: var(--cor2);
    height: 100vh;
    width: 150px;
    padding-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 0;

}
.sMenu a{
    color: rgb(231, 223, 223);
    text-decoration: none;
    margin: 10px;
    padding: 1px;
    transition: all 0.3s ease-in-out;
    z-index: 3;

}
.sMenu a:hover{
        background-color: rgb(6, 6, 119);
}
.conteiner{ 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-evenly;
    padding: 50px;
    margin: 20px 20px 0px 20px;
}
.conteiner p{
    font-size: clamp(0.9rem,1vw,0.8rem);
    text-indent: 50px;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}
.titulo{
    color: var(--cor0);
    font-weight: 500;
    font-family: var(--fonte1);
    font-size: clamp(1.7rem,3vw,2.7rem);
    margin: 25px 2px 0px 2px;

}
.subtitulo{
    font-size: clamp(1.rem,1vw,1.2rem);
    color: var(--cor1);
    font-weight: 500;
    font-family: var(--fonte1);
    margin: 12px 0 0 0;
}
.destaque ol{
    margin: 5px 0 0 20px;
}
.destaque ol li {
    margin: 8px 0;
    color: var(--cor2);
}
.destaque ol li a{
    text-decoration: none;
    color: var(--cor2);
}
.conteinerpic{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}
.conteinerpic div{
    flex: 0 20 170px;
    display: flex;
    font-size: 0.9rem;
    flex-direction: column;
    height: 50vh;
    margin: 5px;
    padding: 0px;
    box-shadow: 0px 0px 38px 1px rgba(32, 31, 31, 0.212);
    border-radius: 17px 7px 0px 0px;
}
.conteinerpic>div>img{
    flex: 0 10 200px;
    border-radius: 17px 7px 0px 0px;
    height: 5rem;
}
.conteinerpic div h3{
    flex: 0 10 1px;
    color: var(--cor1);
    margin-bottom: 5px;
    padding: 0px 10px;
    text-align: center;
    font-weight: 600;
}
.conteinerpic div h4{
    flex: 0.1 10 1px;
    color: var(--cor0);
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
}
.conteinerpic div h3::after{
    content: "";
    background-image: url("Images/link.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;
}
.conteinerpic div span{
    color: var(--cor1);
    font-weight: bolder;
}

.church a{
    text-decoration: none;
}
.church img,.desporto img{
    display: block;
    margin: auto;
     width: auto;
    height: 250px;
}
.urbanistic{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
    padding: 10px;
}
.urbanistic-img{
    align-self: center;
    display: flex;
    flex: row wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.urbanistic-img img{
    padding: 10px;
    width: auto;

}
footer{
     display: flex;
     flex-direction: column;
     margin: 0px;
     padding: 30px;
     font-weight: 200;
     font-family: var(--fonte1);
    color: white;
    background-color: rgb(29, 29, 71);
}
#contactos>div>h2{
    font: clamp(0.3rem,0.1vw,0.3rem);
    padding: 5px;
    margin: 5px 0px 5px 15px;
}
.facebook::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.insta::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/instagram.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.whatssap::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/social.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.email::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/gmail.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.tel::before{
    content:"";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("Images/vibration.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
@media screen and (max-width:560px){
    .conteiner{
    margin: 20px 1px 0px 1px;
}
    nav a{
        display: none;
    }
    .menu{
        display: inline-block;
    }
    footer{
        font-size: 0.6rem;
    }

}
img{
    max-width: 100%;
    height: auto;
    display: block;
}